@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* estilizações gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body{
    height: 100vh;
    background-color: #e4e1e1;
    font-family: 'Poppins', sans-serif;
}

.inteface{
    max-width: 1280px;
    margin: 0 auto;
}

.infotec{
    height: 151.86px;
    width: 40px;
}

/* HEADER  */

header{
    padding: 30px 4%;
    background-image: url(assets/backgroundInfotec.png);
    background-color: rgba(59, 131, 149, 0,5);
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #3B8395;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: .2s;
}
header .btn-contato button:hover{
    box-shadow: 5px 5px 6px black;
    transform: scale(1.05);
    background-color: #57AFB6;
}

header .textos{
    display: flex;
    gap: 70px;
    flex-direction: column;
}
/* TEXTOS HEADER */

header .textos .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 100px;
    font-size: 50px;
}

header .textos p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 70px;
}

/* QUEM SOMOS */

section.quem-somos{
    padding: 40px 4%;
    background-color: rgba(255, 255, 255, 0.192);
}

section.quem-somos .flex{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section.quem-somos .titulo{
    text-align: center;
    color: #050505;
    margin-top: 100px;
    font-size: 50px;
}
section.quem-somos .subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.highlight {
    color: #3B8395;
}