.milagre {
    position: relative;
    width: max-content;
    height: max-content;
}

.milagre>img {
    box-shadow: 5px 12px 20px -15px rgba(225, 81, 63, 0.64);
    -webkit-box-shadow: 5px 12px 20px -15px rgba(225, 81, 63, 0.64);
    -moz-box-shadow: 5px 12px 20px -15px rgba(225, 81, 63, 0.64);
    border-radius: 1em;
    border-top-right-radius: 4rem;
    width: 30rem;
}