@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	font-family: "Poppins", sans-serif;
	background-color: rgb(243, 243, 243);
}

section {
	width: 100%;
}

section > div {
	width: 75rem;
	max-width: 100%;
	margin: auto;
}

@media (max-width: 75rem) {
	section > div {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		box-sizing: border-box;
	}
}

a:hover {
	text-decoration: underline;
	transition: 200ms ease-in-out;
}

hr {
	width: calc(100% - calc(var(--base-size) * 4));
	height: calc(var(--base-size) * 0.125);
	background-color: rgba(0, 0, 0, 0.125);
	border-radius: 25%;
	border: none;
	outline: none;

	margin: calc(var(--base-size) * 2);
}

:root {
	--base-size: 1rem;
}

@media (max-width: 70rem) {
	:root {
		--base-size: 0.875rem;
	}
}

.overflowx-scroll {
	overflow-x: auto;
}

button:hover {
	transition: 0.3s;
	transform: scale(1.125);
	cursor: pointer;
}

button:disabled {
	pointer-events: none;
	filter: opacity(0.5);
	transform: scale(0.875);
}

.mb\:carrousel>:nth-child(1) {
    display: none;
}

.mb\:carrousel>:nth-child(3) {
    display: none;
}

@media (max-width: 40rem) {
	.mb\:carrousel {
		display: grid;
		grid-template-areas: "left display right";
		width: 100%;
		box-sizing: border-box;
		grid-template-columns: 3rem calc(100% - 6rem) 3rem;
		grid-template-rows: 1fr;
		align-items: center;
		align-content: center;
	}

	.mb\:carrousel>:nth-child(1) {
		display: inherit;
	}
	
	.mb\:carrousel>:nth-child(3) {
		display: inherit;
	}

}

.carrousel {
	display: grid;
	grid-template-areas: "left display right";
	width: 100%;
	box-sizing: border-box;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: 1fr;
	align-items: center;
	align-content: center;
}

.customer {
	width: 8rem;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
}

@media(max-width: 40rem) {
	.customer {
		width: 3.5rem;
		height: 3.5rem;
		padding: 0.25rem;
	}
}

.customer>img {
	width: 100%;
}

.hidden {
	display: none !important;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}