/* HEADER  */
.btn-contato button {
	background-color: #3b8395;
	color: #fff;
	cursor: pointer;
	border: none;
	transition: 0.3s;
}

.btn-contato button:hover {
	background-color: #e4ebee;
	color: #2b777c;
}


@media (max-width: 40rem) {
	header nav {
		display: none !important;
		background-color: red;
	}
}