.text-8xl {
	font-size: calc(var(--base-size) * 3.25);
}
.text-7xl {
	font-size: calc(var(--base-size) * 3);
}
.text-6xl {
	font-size: calc(var(--base-size) * 2.75);
}
.text-5xl {
	font-size: calc(var(--base-size) * 2.5);
}
.text-4xl {
	font-size: calc(var(--base-size) * 2.25);
}
.text-3xl {
	font-size: calc(var(--base-size) * 2);
}
.text-2xl {
	font-size: calc(var(--base-size) * 1.875);
}
.text-xl {
	font-size: calc(var(--base-size) * 1.5);
}
.text-lg {
	font-size: calc(var(--base-size) * 1.25);
}
.text-base {
	font-size: var(--base-size); /* Tamanho base */
}
.text-sm {
	font-size: calc(var(--base-size) * 0.875);
}
.text-xs {
	font-size: calc(var(--base-size) * 0.75);
}
/* Cores */
.text-infotec {
	color: #3b8395;
}

.text-inpulse {
	color: rgb(225, 81, 63);
}

.text-white {
	color: rgb(255, 255, 255);
}

.text-slate-50 {
	color: rgb(248, 250, 252);
}

.text-slate-100 {
	color: rgb(241, 245, 249);
}

.text-slate-200 {
	color: rgb(226, 232, 240);
}

.text-slate-300 {
	color: rgb(203, 213, 225);
}

.text-slate-400 {
	color: rgb(148, 163, 184);
}

.text-slate-500 {
	color: rgb(100, 116, 139);
}

.text-slate-600 {
	color: rgb(71, 85, 105);
}

.text-slate-700 {
	color: rgb(51, 65, 85);
}

.text-slate-800 {
	color: rgb(30, 41, 59);
}

.text-slate-900 {
	color: rgb(15, 23, 42);
}

.text-slate-950 {
	color: rgb(2, 6, 23);
}

.text-center {
	text-align: center;
}

.text-end {
	text-align: end;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.font-400 {
	font-weight: 400;
}

.font-500 {
	font-weight: 500;
}

.font-600 {
	font-weight: 600;
}

.font-700 {
	font-weight: 700;
}

@media(max-width: 60rem) {
	.mb\:text-start {
		text-align: start;
	}
}